<div class="main container">
    <div class="truesub">
        <div class="subContainer">
            <div class="logo">
                <a href="/home">Ecom</a>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="/about">ABOUT</a></li>
                    <li>SHOP</li>
                    <li>CHECKOUT</li>
                    <li>CONTACT</li>
                </ul>
            </div>
            <div class="btns">
                <ul>
                    <li>
                        <img src="./assets/images/brand/svg/Vectorsearch.svg" alt="">
                    </li>
                    <li>
                        <img src="./assets/images/brand/svg/Vectorcartt.svg" alt="">
                    </li>
                    <li>
                        <img src="./assets/images/brand/svg/Vectorprofile.svg" alt="">
                    </li>
                </ul>
            </div>
            <div class="menu">
                <div class="btns0">
                    <ul>
                        <li>
                            <img src="./assets/images/brand/svg/Vectorsearch.svg" alt="">
                        </li>
                        <li>
                            <img src="./assets/images/brand/svg/Vectorcartt.svg" alt="">
                        </li>
                        <li>
                            <img src="./assets/images/brand/svg/Vectorprofile.svg" alt="">
                        </li>
                    </ul>
                </div>
                <div class="menulogo">
                    <img src="./assets/images/brand/svg/menu.svg" alt="">
                </div>
            </div>

        </div>
    </div>
</div>